@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  margin: 0px;
  width: 100%;
  color: black;
  text-align: center;
}

header{
  padding: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1vw;
}

li {
  display: inline;
  float: right;
  padding: 8px;
}

#name{
  font-weight: bold;
}

#nav:visited{
  color: gray;
}

/* h1 {
  left: 0;
  right: 0;
  height: 50%;
  font-size: 5vw;
  text-align: left;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 240px;
  padding-bottom: 300px;
  bottom: 0;
} */

main {
  margin-left: 100px;
  margin-right: 100px;
  max-width: 2000px;
}

a {
color: black;
}

a:link {
  text-decoration: none;
}
